<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">

        <link rel="stylesheet" href="/styles/main.css">
        <link rel="stylesheet" href="/styles/bookdetails.css">

        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
        
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script src="https://calil.jp/public/js/calilapi.js"></script>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
        <script src="https://calil.jp/public/js/calilapi.js"></script>

        <%- include('../partials/head'); %>
    </head>
     
    <body style="padding-top: 50px;">

        <div class="container"> 
 
            <header style="position: fixed; top: 0; left: 0; width: 100%; background-color: black; z-index: 1000;">
                <%- include('../partials/header'); %>
            </header>
        
            <%- include('../partials/booksearch_googleapi'); %>     
    
        </div>

        <footer class="mt-4 w-100">
            <%- include('../partials/footer'); %>
        </footer>
            

        <!-- <script src="<%= baseUrl %>scripts/searchlibrary.js"></script> -->
        <script src="/scripts/geocode.js"></script>
    
    </body>
</html>